.checkout{
    width: 18rem;
    height: fit-content;
    margin: 10px;
}

.checkoutContainer{
    display: grid;
    grid-template-columns: auto auto  auto ;
}

.checkoutItem{
    margin: 5px;
    height: 10px;
    width: fit-content;
}

.removeButton{
    border-radius: 100%;
    height: fit-content;
    width: fit-content;
    margin-left: auto;

}
